.campaign-create-form {
  overflow: hidden;

  .form-group {
    padding: 12px 60px;

    .check-icon {
      display: inline-block;
      position: relative;
      cursor: pointer;

      .iconfont {
        font-size: $font-lg;
        color: nth($gray, 1);
      }

      .icon-check {
        position: absolute;
        top: 0;
        right: -4px;
        z-index: 1;
        width: 12px;
        height: 12px;
        line-height: 12px;
        text-align: center;
        font-size: $font-xs;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 50%;
        background-color: #d8d8d8;
      }

      &.checked {
        .iconfont {
          color: nth($blue, 1);
        }

        .icon-check {
          color: #fff;
          background-color: nth($blue, 1);
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
      border-bottom: none;
    }
  }

  .upload-img-btn {
    display: inline-block;
    font-size: 8rem;
    cursor: pointer;
  }
}

.upload-imgs-list {
  width: 100%;
  font-size: 0;

  .upload-img-item {
    display: inline-block;
    position: relative;
    width: 400px;
    height: 300px;
    margin: 0 6px 6px 0;
    border: 1px solid rgba(0, 0, 0, .5);
    overflow: hidden;

    .upload-img {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
    }

    .close-btn {
      position: absolute;
      top: 0;
      right: 0;
      width: 24px;
      height: 24px;
      text-align: center;
      font-size: 2rem;
      cursor: pointer;
    }
  }
}

.line-title {
  line-height: 20px;
  padding: 20px;
  border-top: 1px solid rgba(0, 0, 0, .1);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  text-align: center;
  font-size: $font-nm-l;
  color: #575962;
}
