.activity-table {
    .ant-table{
        font-size: $font-sm;
    }
    .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
        padding: 5px 16px;
    }
}
.analytic-table{
    .ant-table-tbody > tr > td{
        border-bottom: 1px solid transparent;
    }
    .ant-table-thead > tr > th{
        background: transparent;
        border-bottom: 1px solid transparent;
    }
}
.page{
    .ant-input{
        height: 34px;
        font-size: 13px;
    }
}
